<h3>Cadastro de Imóvel</h1>

<% if @property.errors.any?%>
  <ul>
    <% @property.errors.full_messages.each do |error|%>
        <li> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @property) do |f| %>
    <div>
        <%= f.label :title, 'Título' %>
        <%= f.text_field :title %>
    </div>
    <div>    
        <%= f.label :description, 'Descrição' %>
        <%= f.text_field :description %>
    </div>
    <div>    
        <%= f.label :property_type_id, 'Tipo' %>
        <%= f.collection_select :property_type_id, PropertyType.all, :id, :name, prompt: 'Escolha um tipo' %>
    </div>
    <div>
        <%= f.label :rooms, 'Quartos' %>
        <%= f.text_field :rooms %>
    </div>
    <div>
        <%= f.label :bathrooms, 'Banheiros' %>
        <%= f.number_field :bathrooms %>
    </div>
    <div>
        <%= f.label :daily_rate, 'Diária' %>
        <%= f.number_field :daily_rate %>
    </div>
    <div>
        <%= f.label :pets, 'Aceita Pets?' %>
        <%= f.check_box :pets %>
    </div>
    <div>
        <%= f.label :parking_slot, 'Possui vaga para estacionar?' %>
        <%= f.check_box :parking_slot %>
    </div>
    <br>
    <%= f.submit 'Enviar' %><br>
    <p><%= link_to('Voltar', root_path)%></p>
<% end %>