<%= form_with model: property_location do |form| %>
  <div>
    <% if @property_location.errors.any?%>
      <ul>
        <% @property_location.errors.full_messages.each do |error|%>
            <li> <%= error %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <p>
    <%= form.label :location, 'Região' %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.submit 'Salvar' %>
  </p><br>
  <%= link_to('Voltar', root_path)  %> 
<% end %>
