<header>
  <h1>Flats</h1>

  <h3>Boas vindas ao sistema de locação de apartamentos</h3>
  <div>
    <nav>
      <%= link_to 'Cadastrar Imóvel', new_property_path %>
    </nav>
  </div>
</header>

<aside>
  <h2>Filtrar por tipo:</h2>
  <nav>
    <% @property_types.each do |property_type|%>
      <%= link_to property_type.name, property_type_path(property_type.id) %>
    <% end%>
  </nav>
</aside>

<section>
  <h3>Imóveis disponíveis</h3>
  <% if @properties.empty? %>
    <div><span>Nenhum imóvel disponível</span></div>
  <% end %>

  <% @properties.each do |p| %>
    <p> Propriedade: <%=  link_to( p.title , property_path(p.id) )%></p>
    <p> Descrição: <%=  p.description %>  
    <p> Quartos: <%=  p.rooms %>
  <% end %>
</section>


